<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/searchfilesheet.css">
</head>
<body scroll="no" style="overflow: hidden;">
    <div class="maincontainer">
        <div class="filename">
            <h3>Filename</h3>
            <p>xyz</p>
        </div>
        <div class="uploadname" id="c2">
            <h3>Uploaded by</h3>
            <p>xyz</p>
        </div>
        <div class="uploaddate" id="c3">
            <h3>Date of upload</h3>
            <p>xyz</p>
        </div>
        {% for userprofiles in l %}
              <tr class="table-row">
                  <td>{{ userprofiles.user_rank }}</td>  
                  <td>{{ userprofiles.user }}</td>  
                  <td>{{ userprofiles.quesno }}</td>  
                  <td>{{ userprofiles.marks }}</td>  
                  <td>{{ userprofiles.remainingTime }}</td>  
              </tr>
        {% endfor %}
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="myframe">
               
            <iframe src="SE CSE Syllabus And Pattern - 2019.pdf" style="position:relative; width:98%; left:100%; top:-350px; height:1157px" ></iframe>
        </div>

    </div>
    <script src="script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
</html>