@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');  
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC', cursive;

}
body{
    font-size: 14px;
    background: url('/static/2.png') fixed; 
    background-size:cover;
}

.container{
    background: rgba(246, 244, 244, 0.916);
    width: 600px;
    padding: 25px;
    margin:50px auto 0;
    /* border-top:5px solid blue; */
    border-radius: 20px;
    height: 700px;
    position: relative;
    left: -18%;
    top: 100px;
}
.container h2{
    font-size: 40px;
    line-height: 24px;
    padding: 50px;
    text-align: center;
}
.input-name{
    width:100%;
    position: relative;
    margin: 50px auto;
}

.lock{
    padding: 8px 11px;
}
.input-name span{
    margin-left: 35px;
}
.text-name{
    width:100%;
    padding:8px 0 8px 40px;
}
.input-name i{
    position: absolute;
    font-size: 18px;
    color: blue;
    border-right:1px solid #cccccc;
}
.email{
    padding: 8px;
}
.text-name,.name,.age{
    border:2px solid black;
    height: 60px;
    font-size: 25px;
    border-radius: 20px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
     transition: all 0.30s ease-in-out;
}
.text-name:hover,.name:hover,.age:hover{
    background-color: #ece1e1;
}

.text-name:focus,.name:focus
{
    border: 1px solid blue;
}

.button{
    background-color: blue;
    color: white;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border:none;
    outline:none;
    font-size: 35px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
}
.button:hover{
    background: green;
}
@media (max-width: 480px)
{
    .container
    {
        width:100%;
        padding: 5px;
    }
    .input-name
    {
        margin-bottom: -10px;
    }
    .name{
        width:100%;
        padding: 8px 0 8px 40px;
        margin-bottom: 10px;
    }
    .input-name span{
        padding: 0;
        margin: 0;
    }
    .form-container{
        
        width: 100%;
    }
}
.input-name .icon{
    position: absolute;
    top:7%;
    right: 28px;
    font-size: x-large;
    color: black;
    line-height: 57px;
}
.remember-forgot{
    font-size:x-large;
    color: black;
    font-weight: 500;
    margin: -10px 0 15px;
    display: flex;
    justify-content:space-between ;
}
.remember-forgot label input{
    accent-color: black;
    margin-right: 3px;
}
.remember-forgot a{
    color:black;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration:underline;
}  

.login-register{
    font-size:x-large;
    color: black;
    font-weight: 500;
    margin: 20px 0 20px;
    display: flex;
    justify-content:space-between ;
}

.login-register a{
    color:black;
    text-decoration: none;
}
.login-register a:hover{
    text-decoration:underline;
}